@import './../../variables.scss';

.actions-list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 26px;

  &__action {
    color: $color-gray;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    &--link {
      color: $color-dodger-blue;
    }
  }

  &__img {
    width: 100%;

    &--slack, &--teams {
      width: 24px;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }

    &-title {
      margin: 0;
      color: $color-mine-shaft;
      font-weight: 500;
      font-size: 16px;
    }
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid $color-athens-gray;
    border-radius: 8px;

    & > svg {
      border-radius: 8px;
    }
  }
}