.profile-btn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #ECECED;
  border-radius: 16px;
  color: #343434;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  background: #FAFAFA;
  gap: 6px;
}