.footer {
  position: relative;
  padding: 80px 0 67px;
  display: flex;
  justify-content: center;

  &__btn {
    cursor: pointer;
    &--out {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 64px;
      border-radius: 64px;
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      background-color: #343434;
      gap: 8px;


    }

    &--comment {
      position: absolute;
      right: 32px;
      bottom: 40px;
      width: 64px;
      height: 64px;
      border-radius: 24px;
      color: #ffffff;
      background: #E3A137;
      &-icon {
        width: 16px;
      }
    }

    &-icon {
      &--out {
        width: 16px;
      }
      &--comment {
        width: 32px;
      }
    }
  }
}