@import '../../variables.scss';

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 80px 0 67px;

  &__btn {
    cursor: pointer;
    &--out {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 64px;
      border-radius: 64px;
      color: $color-white;
      font-weight: 600;
      font-size: 16px;
      background-color: $color-mine-shaft;
      gap: 8px;
    }

    &--comment {
      position: absolute;
      right: 32px;
      bottom: 40px;
      width: 64px;
      height: 64px;
      border-radius: 24px;
      color: $color-white;
      background: $color-fire-bush;
      &-icon {
        width: 16px;
      }
    }

    &-icon {
      &--out {
        width: 16px;
      }
      &--comment {
        width: 32px;
      }
    }
  }
}