$color-alabaster: #FAFAFA;
$color-athens-gray: #ECECED;
$color-black: #000000;
$color-dodger-blue: #327BFF;
$color-dodger-blue-transparent: rgba(50, 123, 255, 0.05);
$color-fire-bush: #E3A137;
$color-gray: #808080;
$color-jumbo-transparent: rgba(120, 120, 128, 0.16);
$color-mine-shaft: #343434;
$color-white: #ffffff;